{% extends "mynotes/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'mynotes/notes.css' %}">
{% endblock head %}
{% block content %}
  <div class="note-grid">
    {% for note in notes %}
      <a href="{% url 'note-detail' note.id %}" class="note-link">
        <div class="note">
          <div class="note-title">{{ note.title }}</div>
          <div class="note-content">{{ note.content }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock content %}